.tweetBox {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-color);
}


.tweetBox > form{
    display: flex;
    flex-direction: column;
}

.tweetBox__input{
    padding: 20px;
    display: flex;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    border: none;
    font-size: 20px;

}

.tweetBox__imageInput {
    border: none;
    padding: 10px;
}

.tweetBox__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white ;
    font-weight: 900 !important;
    text-transform: inherit !important;
    height: 50px  !important;
    margin-top: 20 px !important;
    border-radius: 30px  !important;
    margin-left: auto !important;
}